name: build-pr
on:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build image
        run: |
          docker buildx build \
            --platform linux/arm64/v8,linux/amd64,linux/arm,linux/ppc64le,linux/s390x \
            -t ghcr.io/jimmidyson/configmap-reload:${{ github.event.pull_request.head.sha }} \
            .
