name: build-pr
on:
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Build image
        run: |
          docker buildx build \
            --platform linux/arm64/v8,linux/amd64,linux/arm,linux/ppc64le,linux/s390x \
            -t ghcr.io/jimmidyson/configmap-reload:${{ github.event.pull_request.head.sha }} \
            .
